<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Plutin list</title>
</head>
<body>
<table border="1">
    <tr>
        <th>插件名称</th>
        <th>版本</th>
        <th>启用</th>
    </tr>
    <tr th:each="plugin : ${plugins}">
        <td th:text="${plugin.name}"></td>
        <td></td>
        <td>
            <input type="checkbox" th:attr="onclick='javascript:active(this, \'' + ${plugin.id} + '\');'" value=""  th:checked="${plugin.enabled}">
        </td>
    </tr>
</table>
</body>
<script type="text/javascript">
    function active(checkBox, id) {
        var check = $(checkBox).prop('checked');
        if (check) {
            $.get("/plugin/active?id=" + id, function (data, status) {
                alert(data);
            });
        } else {
            $.get("/plugin/disable?id=" + id, function (data, status) {
                alert(data);
            });
        }
    }
</script>
</html>